body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

input {
    padding: 5px 10px;
}

#submitEmployee {
    font-size: 14px;
    padding: 5px 10px;
}

table {
    border: 1px solid black;
    border-spacing: 0;
    width: 100%;
}

td, th {
    border: 1px solid #eee;
    padding: 10px 20px;
}

th {
    background-color: #ccc;
}

.over-budget {
    background-color: red;
    color: white;
}